canvas{
    padding-left: 0;
    padding-right: 0;
    margin:0 auto;
    margin-top:25px;
    display:block;
    border-radius:30px;
    box-shadow: 0px 10px 200px;
}

h1{
  font-family:Arial;
  color:white;
  margin:30px auto;
  display:block;
  text-align:center;
  font-size:100px;
}
body{
    margin:0 auto;
    padding:0px;
    background-color:rgb(48, 48, 48);


}

*{margin:0 auto}
